.user-dashboard-container {
  padding: 60px 5%;
  background-color: #121212;
  color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.user-dashboard-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
}

.user-dashboard-profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #a9745a;
}

.user-dashboard-panel {
  width: 100%;
  max-width: 600px;
  background-color: #1e1e1e;
  padding: 1rem;
  border-radius: 10px;
}

.user-dash-title {
  color: white;
}

.user-dash-text {
  color: white;
}

.user-dashboard-update-button {
    position: relative;
    font-size: 1rem;
    color: #e0e0e0;
    padding-top: 2rem;
    text-decoration: none;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.user-dashboard-update-button:hover {
    color: #ffac38f0;
}