/* .profile-dropdown {
  position: absolute;
} */

.navbar {
  display: flex;
  padding: 50px 5%;
  gap: 30px;
  justify-content: space-between;
  align-items: stretch;
  /* padding: 0 2rem; */
  /* padding-right: 2rem;
  padding-top: 1rem; */
  height: 80px;
  background-color: #121212;
  position: relative;
  z-index: 10;
}

.navbar-left {
  display: flex;
  align-items: center;
  padding-left: 4rem;
}

.logo {
  color: #5c3a21;
  height: 180px;
  vertical-align: text-top;
  /* max-height: 100%; */
  z-index: 2;
}

.navbar-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 4rem;
}

.navbar-top {
  display: flex;
  align-items: center;
  gap: 4rem;
}

.nav-text {
  position: relative;
  font-size: 1rem;
  color: #e0e0e0;
  text-decoration: none;
  letter-spacing: 1px;
  padding-bottom: 0.5rem;
  transition: color 0.3s ease;
}

.dashboard-button, .log-out-button {
    position: relative;
    font-size: 1rem;
    color: #e0e0e0;
    padding: 0.5rem;
    background-color: #1e1e1e;
    text-decoration: none;
    letter-spacing: 1px;
    padding-bottom: 1rem;
}

.dashboard-button:hover {
    color: #ffac38f0;
}

.log-out-button:hover {
    color: #ffac38f0;
}

.nav-text.active {
  color: #ffac38f0;
}

.nav-text.active::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 2px;
  width: 100%;
  background-color: #ffac38f0;
}

.profile-icon {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.navbar-bottom {
  padding-right: 4rem;
  margin-bottom: 2rem;
  font-size: 1rem;
}
.profile-panel {
  position: fixed;
  top: 0;
  right: -360px;
  width: 300px;
  height: 800px;
  background-color: #1e1e1e;
  box-shadow: 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  transition: right 0.1s ease-in-out;
  z-index: 100;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profile-panel.open {
  right: 0;
}

.close-panel {
  background: none;
  border: none;
  font-size: 1.5rem;
  align-self: flex-end;
  cursor: pointer;
}
